name: "Coding Standards"

on: # yamllint disable-line rule:truthy
  workflow_call:
    inputs:
      php-version:
        description: "The PHP version to use when running the job"
        default: "8.0"
        required: false
        type: "string"
      php-extensions:
        description: "The php extensions to install, allowing composer to pass"
        default: "none, ctype, dom, json, mbstring, phar, simplexml, tokenizer, xml, xmlwriter, fileinfo"
        required: false
        type: "string"
      composer-root-version:
        description: "The version of the package being tested, in case of circular dependencies."
        required: false
        type: "string"
      composer-options:
        description: "Additional flags for the composer install command."
        default: "--prefer-dist"
        required: false
        type: "string"
      composer-dependencies:
        description: "Composer dependency level to install"
        default: "locked"
        required: false
        type: "string"

jobs:
  coding-standards:
    name: "Coding Standards"
    runs-on: "ubuntu-20.04"

    strategy:
      matrix:
        php-version:
          - "${{ inputs.php-version }}"

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v2"

      - name: "Install PHP"
        uses: "shivammathur/setup-php@2.25.1"
        with:
          coverage: "none"
          php-version: "${{ matrix.php-version }}"
          extensions: "${{ inputs.php-extensions }}"
          tools: "cs2pr"

      - name: "Set COMPOSER_ROOT_VERSION"
        run: |
          echo "COMPOSER_ROOT_VERSION=${{ inputs.composer-root-version }}" >> $GITHUB_ENV
        if: "${{ inputs.composer-root-version }}"

      - name: "Install dependencies with Composer"
        uses: "ramsey/composer-install@v2"
        with:
          dependency-versions: "${{ inputs.composer-dependencies }}"
          composer-options: "${{ inputs.composer-options }}"

      - name: "Code style check"
        uses: "phpDocumentor/coding-standard@latest"
        continue-on-error: true
        with:
          args: "-q --no-colors --report-checkstyle=./phpcs-report.xml"

      - name: "Show PHPCS results in PR"
        run: "cs2pr ./phpcs-report.xml"
